.container {
  max-width: 1440px;
  width: 100%;
  border: 1px solid white;
  margin: 0 auto;
  background-color: #F6F8F9;
}


/* აქედან იწყება ჰედერი */

header {
  display: flex;
  max-width: inherit;
  width: inherit;
  border: 1px solid white;
  background-color: #F6F8F9;
  padding: 20px 20px 19px 20px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  margin-top: -2px;
}

.navhead {
  display: flex;
}



label #btn,
label #cancel {
  color: black;
  font-size: 1.2rem;
  float: right;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}


.navhead ul {
  display: flex;
  gap: 31px;
  align-items: center;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #959798;
}


#home {
  color: black;
}

.navhead ul li {
  transition: all 300ms linear;
  padding-bottom: 10px;
  animation: list 300ms linear forwards;
}




.navhead ul li:hover {
  border-bottom: 5px solid #FA6980;
  border-radius: 2px;
  font-size: 1.1rem;
}





.logo {
  animation-name: logo;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: all 400ms ease-out;

}

@keyframes logo {
  from {
    opacity: 0%;
    transform: translate(0%);
  }

  to {
    opacity: 100%;
    transform: translate(100%);

  }
}



@keyframes list {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }

}





/* აქედან იწყება სექცია */


.mainsection {
  margin-top: 67px;
  width: 100%;
  display: flex;
  background-color: white;
  height: 610px;
}

.leftbox {
  width: 59%;
  display: flex;
  overflow: hidden;
  object-fit: cover;
}



.textleft {
  width: 100%;
  font-family: Helvetica;
  color: white;
  background-image: url(/images/hills.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textleft h2 {
  font-size: 1.5rem;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 30px;
}

.textleft h3 {
  margin-left: 30px;
}

.textleft p {
  margin-left: 30px;
}

.learnmore {
  margin-left: 30px;
}


.rightbox {
  display: flex;
  width: 48%;
  flex-direction: column;
  position: relative;
}

.textleft h2::after {
  content: "";
  background-color: white;
  height: 2px;
  width: 40%;
  position: absolute;
  display: block;
  top: 35%;
}

.textleft h3 {
  margin-top: 130px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.textleft p {
  line-height: 1.5rem;
  margin-top: 15px;
}

.textleft button {
  background-color: #FA6980;
  margin-top: 20px;
  font-size: 0.68rem;
  font-family: Helvetica;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  font-weight: bold;
}


/* მარჯვენა სექცია */



.travel {
  width: 80%;
  height: 100px;
  margin-top: 60px;
  line-height: 30px;
  margin-left: 30px;

}

.travel h4 {
  color: #FA6980;
}

.travel h5 {
  font-weight: bold;
}


.travel p {
  color: #A6ADB4
}

.morenews {
  margin-left: 30px;
  margin-top: 80px;
  display: flex;
  width: 80%;
  height: 30px;
  justify-content: space-between;
}

.morenews h2 {
  font-size: 1.5rem;
  font-family: Helvetica;
  font-weight: bold;
}

.morenews h2::after {
  content: "";
  background-color: #EBEDED;
  height: 2px;
  width: 80%;
  position: absolute;
  display: block;
  top: 23%;
}

.technology {
  margin-left: 30px;
  width: 80%;
  margin-top: 60px;
  line-height: 30px;
}

.technology h4 {
  color: #FA6980;
}

.technology h5 {
  font-weight: bold;
}

.technology p {
  color: #A6ADB4
}


.time {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #A6ADB4;
}



/* აქედან იწყება ტრენდინგის სექცია */


.trendingcaption {
  font-size: 1.5rem;
  font-family: 'Helvetica';
  font-weight: bold;
  width: 83%;
  margin: 0 auto;
  margin-top: 40px;
}




.trendingsection {
  display: flex;
  overflow: hidden;
  width: 83%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 60px;
}

.trending {
  display: flex;
  background-color: white;
  object-fit: cover;
  height: 350px;
}

.trending figcaption {
  padding: 30px 20px;
}

.trending figcaption h3 {
  font-family: 'Helvetica';
  font-weight: bold;
}

.trending figcaption p {
  color: #A6ADB4;
}

.trending:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  overflow: hidden;
}


/* აქედან იწყება მეინ სექცია HAPPENING NOW */


.main {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
}

.happening {
  font-size: 1.5rem;
  font-family: 'Helvetica';
  font-weight: bold;
  width: 83%;
  margin: 0 auto;
  margin-top: 40px;
}

.bridge {
  display: flex;
  width: 67%;
  overflow: hidden;
  flex-direction: column;
  gap: 30px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.bridgetoptext {
  position: absolute;
  color: white;
  font-family: 'Helvetica';
  font-weight: bold;
  top: 3%;
  left: 5%;
}

.bridgetext {
  position: absolute;
  top: 32%;
  left: 3%;
  color: white;
  font-family: 'Helvetica';
  line-height: 200%;
}

.bridgetext h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.woods {
  position: inherit;
}

.woodstoptext {
  position: absolute;
  color: white;
  font-family: 'Helvetica';
  font-weight: bold;
  top: 55%;
  left: 5%;
}

.woodstext {
  position: absolute;
  top: 80%;
  left: 3%;
  color: white;
  font-family: 'Helvetica';
  line-height: 200%;
}

.woodstext h3 {
  font-weight: bold;
  font-size: 1.5rem;
}



.horizontal {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.horizontal p {
  margin-top: 40px;
}



/* აქედან იწყება ფუტერი */


footer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  padding: 5% 10% 6% 9%;
  background-color: #A6ADB4;
  font-family: 'Helvetica';
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_left {
  display: flex;
  gap: 20%;
  align-items: flex-start;
  line-height: 25px;
}

.navfoot_text {
  color: #CBD0D3;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Helvetica';
}


.socialicons {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

/* ტაბლეტის რეზოლუციისთვის */

@media only screen and (max-width: 768px) {
  .leftbox {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .mainsection {
    display: block;
  }

  .rightbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .textleft h2::after {
    top: 17%;
  }

  .textleft h3 {
    margin-top: 60px;
  }

  .morenews {
    width: 100%;
    margin-top: 30px;
  }

  .travel {
    width: 40%;
  }

  .technology {
    width: 40%;
  }

  .trendingcaption {
    margin-top: 150px;
    margin-left: 30px;
  }

  .morenews:after {
    top: 40%;
  }


  .trendingsection {
    display: flex;
    width: 100%;
  }

  .trending:hover {
    filter: none;
    transform: none;
    overflow: visible;
  }

  .trendingsection :nth-child(3) {
    display: none;
  }

  .trendingsection div {
    width: 50%;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
  }

  .bridge {
    width: 100%;
  }

  .horizontal {
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
  }


  .figure3 {
    display: none;
  }

  .footer_left {
    gap: 5%;
  }

  .socialicons {
    gap: 2%;
  }

}


/* მობილურის რეზოლუციისთვის */

@media only screen and (max-width:480px) {
  .navhead ul {
    position: fixed;
    left: -1px;
  }

  .navhead ul {
    display: block;
    width: 100%;
    height: 20vh;
    margin: 50px 0;
    position: fixed;
    top: -100%;
    line-height: 30px;
    transition: all 0.5s;
    background-color: black;
    text-align: center;
    font-size: 0.7rem;
  }
  

  .navhead ul li {
    margin-top: 20px;
  }

  .navhead ul :nth-child(1) {
    color: white;
    animation: home;
    animation-fill-mode: forwards;
    transition: all 300ms linear;
  }

  .navhead ul :nth-child(1):hover {
    font-size: 1rem;
    scale: 1;
  }

  @keyframes home {
    from {
      color: #959798;
      opacity: 100%;
      box-shadow: none;
      font-size: 0.5rem;
    }

    to {
      color: white;
      opacity: 100%;
      box-shadow: none;
      font-size: 1rem;
    }
  }

  .navhead ul li:hover {
    border-bottom: none;
    border-radius: none;
    font-size: 0.9rem;
  }

  label #btn {
    display: block;
  }

  #check:checked~ul {
    top: 0%;
  }


  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
  }

  .trendingsection {
    display: block;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 60px;
  }

  .trending figcaption {
    display: block;
    width: 100%;
    background-color: white;
    height: 350px;
  }


  .trending figcaption h3 {
    font-family: 'Helvetica';
    font-weight: bold;
  }

  .trending figcaption p {
    color: #A6ADB4;
  }


  .bridgetext {
    font-size: 0.8rem;
    top: 110px;
  }

  .bridgetext h3 {
    font-size: 1rem;
  }

  .bridgetext p {
    font-size: 0.8rem;
  }

  .woodstext {
    font-size: 0.8rem;
    top: 350px;
  }

  .woodstext h3 {
    font-size: 1rem;
  }

  .woodstext p {
    font-size: 0.8rem;
  }

  .horizontal {
    flex-direction: column;
    overflow: visible;
    margin: 0 auto;
    width: 100%;
    gap: 20px;
  }

  .figure3 {
    display: contents;
  }

  .figure1 img,
  .figure2 img {
    width: 100%;
  }


  footer {
    height: 100px;
    align-items: center;
  }

  .footer_left {
    display: none;
  }

  .socialicons {
    width: 100%;
    gap: 1%;
    margin: 0 auto;
    font-size: 2rem;
  }

  .socialicons i {
    color: white;
  }
}



/* აქედან იწყება WORLDNEWS.HTML */


.section3 {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
}

.left {
  width: 50%;
  overflow: hidden;
}

.right {
  width: 50%;
}

.form {
  width: 72%;
  margin: 0 auto;
  margin-top: 140px;
}

.form input,
label {
  display: block;
  padding: 8px;
  font-family: 'Helvetica';
  font-weight: 500;
}

.keyword {
  margin-top: 30px;
}

.form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: #EBEDED;
}

.form button {
  margin-top: 30px;
  padding: 10px 25px;
  font-family: 'Helvetica';
  border: none;
  border-radius: 4px;
  background-color: #FA6980;
  color: white;
}

.left {
  position: relative;
}

#world {
  position: absolute;
  font-size: 1.9rem;
  left: 175px;
  top: 225px;
  color: white;
  font-weight: bold;
}


/* მეორე სექცია */


.section4 {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 38px;
  gap: 3%;
}

.info {
  display: flex;
  width: 33%;
  font-size: 0.87rem;
  color: #A6ADB4;
  line-height: 25px;
}

.profile {
  width: 33.3%;
  font-size: 1.5rem;
  font-family: 'Helvetica';
  font-weight: bold;
}

.profile figcaption {
  margin-top: 30px;
}



/* სპილოს ფოტო */



.worldmain {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: #A6ADB4;
  line-height: 30px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.worldmain p {
  margin-top: 30px;
}



/* ტაბლეტის რეზოლუცია */

@media only screen and (max-width:768px) {
  .section3 {
    display: block;
  }

  .left {
    width: 100%;
    overflow: hidden;
  }

  .right {
    width: 100%;
  }

  .section4 {
    flex-wrap: wrap;
  }

  .profile {
    width: 100%;
  }

  .info {
    width: 50%;
  }

  .form {
    margin-top: 50px;
  }

  .form button {
    margin-top: 5px;
    margin-bottom: 60px;
  }

  .worldmain img {
    width: 100vw;
  }
}


/* მობილურის რეზოლუცია */



@media only screen and (max-width:480px) {


  

  .section3 img {
    width: 375px;
  }

  #world {
    left: 30px;
    top: 160px;
  }

  .section4 {
    display: block;
  }

  .info {
    width: 80vw;
    margin-top: 30px;
  }

  .worldmain {
    margin-top: 30px;
  }


}